body {
  background-color: #FAF7F3;
  color: #1D3413;
  font-family: STIX Two Text;
  font-size: 18px;
  .top-right-italic {
    position: absolute;
    font-style: italic;
}
  .center-center-italic {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}
  .center-left-italic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;
}
}  
