body {
  background-color: #FAF7F3;
  color: #1D3413;
  font-family: STIX Two Text;
  font-size: 18px;
  .top-right-italic {
    position: absolute;
    font-style: italic;
}
  .container {
  position: relative;
}
   .center-center-italic {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
 }
   .center-left-italic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;
    font-style: italic;
 }
   .bottom-center-italic {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 32px;
  font-style: italic;
 }
   .top-right-italic {
   position: absolute;
   top: 0;
   right: 0;
   padding: 32px;
   text-align: right; 
 }
  a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
  a:visited {
  color: #1D3413;
} 
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container img {
  max-width: 100vw;
  height: auto;
  margin: 32px;
}
}
